<style>
   /* The sticky class is added to the header with JS when it reaches its scroll position */
   .sticky {
   position: fixed;
   z-index: 100;
   top: 0;
   width: 100%
   }
   /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
   .sticky + .content {
   padding-top: 102px;
   }
</style>
<div class="header" id="myHeader">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Marketplace Name Placeholder</a>
            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Main Page</a></li>
                  <li class="nav-item"><a class="nav-link" href="/about">About us</a></li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Market</a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/">All products</a></li>
                        <li>
                           <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/?order_by=views">Popular products</a></li>
                        <li><a class="dropdown-item" href="/?order_by=creation_date">New products</a></li>
                     </ul>
                  </li>
               </ul>
               <form class="d-flex">
                  <a href="/basket" class="btn btn-outline-dark" role="button">
                     <i class="bi-cart-fill me-1"></i>
                     Basket
                     <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">{{.TotalCount}}</span> -->
                  </a>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{if .Session.UserName}} {{.Session.UserName}} {{else}} Account {{end}}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           {{if not .Session.UserName}}
                           <li><a class="dropdown-item" href="/register">Sign up</a></li>
                           <li><a class="dropdown-item" href="/login">Log in</a></li>
                           {{else}}
                           <li><a class="dropdown-item" href="/history">History</a></li>
                           <li>
                              <hr class="dropdown-divider" />
                           </li>
                           <li><a class="dropdown-item" href="/logout">Log out</a></li>
                           {{end}}
                        </ul>
                     </li>
                  </ul>
               </form>
            </div>
         </div>
      </nav>
   <script type="text/javascript">
      // When the user scrolls the page, execute myFunction
      window.onscroll = function() {myFunction()};
      
      // Get the header
      var header = document.getElementById("myHeader");
      
      // Get the offset position of the navbar
      var sticky = header.offsetTop;
      
      // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
   </script>
</div>